<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/home.css">
  <link href="https://fonts.googleapis.com/css?family=Krona+One|Mukta+Malar" rel="stylesheet">
  <title>Test NodeJS</title>
</head>
<body>
  <h1>Quel langage de programmation apprendre en premier ?</h1>
  <div>
    <p>
      Langages suggérés par ce petit test :
    </p>
    <ul>
      <li>Python</li>
      <li>Java</li>
      <li>C</li>
      <li>PHP</li>
      <li>C++</li>
      <li>JavaScript</li>
      <li>C#</li>
      <li>Ruby</li>
      <li>Objective-C</li>
    </ul>
    <button type="button" name="button" onclick='location.href="/test/getQuestion/1"'>Faire le test !</button>
  </body>
  </div>
</html>
