h1{
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 5vh;
}
div{
  margin: auto;
}
p, ul{
  margin: auto;
  text-align: center;
  font-size: 1.2em;
}
ul{
  padding-left: 0;
  list-style: none;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
button{
  margin: auto;
  display: block;
  padding: 20px;
  border-radius: 10px;
  font-size: 1.2em;
  color: blue;
  text-align: center;
}
button:hover{
  border: inset;
  color: black;
  cursor: pointer;
}
