body{
    background-color: #bfffc1;
}
.test{
  width: 50%;
  height: 50vh;
  margin: auto;
  border: solid black 1px;
  margin-top: 20vh;
  padding: 30px;
}
h2{
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
  font-family: 'Krona One', sans-serif;
  margin-top: 20px;
}

#answers{
  margin: auto;
  text-align: left;
  margin-left: 25%;
  font-family: 'Mukta Malar', sans-serif;
  font-size: 1.3em;
  line-height: 40px;
}
#submitAnswer{
  display: block;
  margin: auto;
  margin-top: 40px;
  padding: 10px;
  font-size: 1.1em;
  border-radius: 5px;
  font-weight: bold;
  color: #00a005;
  border-color: #00a005;
}
#submitAnswer:hover{
  color: black;
  border: inset;
  cursor: pointer;
}
